.about .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;

    .info {
        flex: 1 1 48rem;
        padding: 2rem 1rem;
        padding-left: 6rem;

        h3 {
            font-size: 2rem;
            color: $color-secondary;
            padding: 1rem 0;
            font-weight: normal;

            span {
                color: #eee;
                padding: 0 .5rem;

            }
        }
    }

}

.bandiera {
    margin-left: 1rem;
    width: 1.8rem;
    height: 1.8rem;
}

.logo {
    width: 10rem;
    height: 10rem;
}