.experience .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;

    .box {
        margin-top: 2rem;
        text-align: center;
        width: 60%;
        border: .2rem solid $color-scrollbar;
        background-color: $color-scrollbar;

        .counter {
            display: flex;
            justify-content: space-around;

            .language {
                h4 {
                    text-align: center; 
                    margin-left: 2rem;
                }
            }

            img {
                background: $color-scrollbar;
                text-align: center;
                padding: 0 1.5rem 1.5rem 1.5rem;

            }
        }

        h4 {
            font-size: 2rem;
            color: $color-white;
            padding-top: 1.5rem;

            span {
                color: $color-secondary;
                text-transform: uppercase;
                font-style: bold;
            }
        }

        h2 {
            font-size: 3rem; 
            color: $color-white;
            padding-top: 1.5rem;
            font-style: bold;
        }

        h3 {
            font-size: 2rem;
            color: $color-white;
            padding-top: 2rem;
        }

        p {
            font-size: 1.5rem;
            color: #eee;
            padding: 2rem 2rem 2rem 2rem;
        }
    }
}