// MEDIA QUERIES 

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }

    .home {
        padding: 1rem 4rem;
    }
}

@media (min-width: 1200px) and (max-width: 991px) {

    header {
        left: -120%;
    }

    #menu {
        display: block;
    }

    header.toggle {
        left: 0%;
    }

    body {
        padding: 0;
    }
}

@media (min-width: 991px) and (max-width:768px) {

    html {
        font-size: 50%;
    }
}

@media (min-width: 768px) and (max-width:400px) {

    header {
        width: 100vw;
    }

    .heading {
        margin: 0 3rem;
    }

}